* {
    padding: 0;
    margin: 0;
  }
  .flex {
    display: flex;
  }
  .background {
    background: rgb(4, 0, 6);
    background: linear-gradient(
      63deg,
      rgba(4, 0, 6, .96) -2%,
      rgba(68, 0, 95, .89) 112%
    );
  }
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .middle-list {
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
    .home {
      gap: 5px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .navigation {
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
      transition: all ease-in-out 0.3s;
    }
    li:hover {
      list-style-image: url(../assets/menu_hover.svg);
      font-weight: 600;
      text-shadow: 2px 2px 10px rgba(221, 238, 25, 0.69);
    }
  }
  .contact-us {
    a {
      gap: 10px;
      text-decoration: none;
      color: white;
    }
    a:hover {
      font-weight: 600;
      text-shadow: 2px 2px 10px rgba(221, 238, 25, 0.69);
    }
  }
  @media only screen and (max-width: 700px) {
    .navigation {
      flex-direction: column;
      justify-content: center;
      .middle-list {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
      }
    }
  }
  